a {
    display:block;
}

ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
    margin: 5px;
}

.bubbleDiv {
    padding: 10px;
    margin: 10px 0px;
    border: 3px solid;
}