table.FormattedTable {
    border-spacing: 8px;
}

table.FormattedTable td {
    padding: 5px;
}

table.FormattedTable col.Col1 {
    width: 100px;
    text-align: left
}

table.FormattedTable col.Col2 {
    width: 300px;
    text-align: left
}

table.FormattedTable td.Left {
    text-align: left;
}

table.FormattedTable thead {
    text-align: left;
    background-color: coral;
}

#tblAttributes {
    width: 50%;   
}

#tblAttributes tr {
    cursor: pointer;   
}

#tblAttributes tr :hover {
    background-color: lavender;
}