.divYellow {
    background-color: yellow;
}

.divRed {
    background-color: red;
}

.odd {
    background-color: lavender;
}

.main-nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    margin-left: 10px;
    cursor: pointer
}

.menuDivInactive {
    display: none;
}
