@media only screen and (min-width:1200px) {

    #sidebar {
        transition: width 300ms;
    }
    #container {
        width: 80%;
    }
}

@media only screen and (min-width: 1025px) {
    #content {
        width: 70% !important;
        transition: width 100ms;
    }

    #sidebar {
        width: 28%;
        transition: width 100ms;
    }

    .container {
        width: 100% !important;
    }
}

@media screen and (min-width: 1025px) {
     #container{ width: 80%;}
}

@media screen and (min-width: 220px) and (max-width: 767px) {
    #container {
        width: 100%;
    }
    .nav-li {
   
    padding:10px 15px !important;
  
}
    #content, #sidebar {
        width: 100% !important;
        float: none;
        box-sizing: border-box;
    }

    #sidebar {
        /*margin-top: 20px;*/
        display: none;
    }
   
}

@media (min-width: 768px) {

    .navbar-nav > li {
        float: left;
    }
    .nav-li {
   
    padding:15px !important;
  
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #content {
        width: 70%;
    }

    .container {
        width: 100% !important;
    }

    #sidebar {
        width: 28%;
    }

    .form-inline .form-control {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    .tblVoucher th:nth-child(1),
    .tblVoucher td:nth-child(1),
    .tblVoucher th:nth-child(5),
    .tblVoucher td:nth-child(5) {
        visibility: collapse;
        display: none;
    }

    .tblVoucher th:nth-child(3),
    .tblVoucher td:nth-child(3){
       width: 70%
    }

    .tblVoucher td a {
        font-size: 0 !important;
        width: 20px;
        height: 20px;
        display: block;
        background-image: url('images/link_edit.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
}