.mat-divider {
  margin: 5px 0;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  padding-left: 35px;
  cursor: pointer;
}

.mat-bottom {
  margin-bottom: 20px !important;
}
