<div>
  <div class="addRow">
    <label>Add a Skill:</label><input type="text" [(ngModel)]="skillToAdd" />
    <button mat-raised-button (click)="addSkill()">Add Skill</button>
  </div>
  <div>Here are the skills</div>
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of skills" (click)="removeSkill(s)">
          <td>{{ s.id }}</td>
          <td>{{ s.name }}</td>
        </tr>
      </tbody>
    </table>
    <p>Hover & Click a skill to remove it</p>
  </div>
</div>
