<app-navbar></app-navbar>

<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias veniam quod
  ipsam in laborum voluptatibus quam alias, temporibus aspernatur sit ullam
  recusandae deserunt quis culpa a officia hic inventore quia.

  <app-vouchers-table></app-vouchers-table>

  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sit, ipsum
  recusandae ut quo quibusdam magnam enim. Facere accusantium fuga modi tenetur
  atque ea? Omnis, unde. Adipisci, similique porro! Debitis!
</div>

<app-footer></app-footer>
